body{
    font-family: "BPG Rioni", sans-serif;
}
*:focus{
    outline: none !important;
    box-shadow: none !important;
}
.btn-link{
    color: #fff;
    text-overflow: ellipsis; 
    overflow: hidden;
    letter-spacing: 0.5px;
    text-decoration: none !important;
}
.btn-link i {
    color: #797676;
}
.card-header {
    padding: 2px;
}
.my-badge-pill{
    padding: 0.15em;
    border-radius: 0.65rem;
    font-size: 47%;
    width: 44px;
    height: fit-content;
    align-self: center;
    margin-right: 15px;
}

#results{
    flex-wrap: wrap;
}
#pagination-container{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 40px;
}































.paginationjs {
    line-height: 1.6;
    font-family: "Marmelad", "Lucida Grande", "Arial", "Hiragino Sans GB", Georgia, sans-serif;
    font-size: 14px;
    box-sizing: initial;
}
.paginationjs:after {
    display: table;
    content: " ";
    clear: both;
}
.paginationjs .paginationjs-pages {
    float: left;
}
.paginationjs .paginationjs-pages ul {
    float: left;
    margin: 0;
    padding: 0;
}
.paginationjs .paginationjs-pages li {
    float: left;
    border: 1px solid #aaa;
    border-right: none;
    list-style: none;
}
.paginationjs .paginationjs-pages li > a {
    min-width: 30px;
    height: 28px;
    line-height: 28px;
    display: block;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    text-align: center;
}
.paginationjs .paginationjs-pages li > a:hover {
    background: #eee;
}
.paginationjs .paginationjs-pages li.active {
    border: none;
}
.paginationjs .paginationjs-pages li.active > a {
    height: 30px;
    line-height: 30px;
    background: #aaa;
    color: #fff;
}
.paginationjs .paginationjs-pages li.disabled > a {
    opacity: .3;
}
.paginationjs .paginationjs-pages li.disabled > a:hover {
    background: none;
}
.paginationjs .paginationjs-pages li:first-child {
    border-radius: 3px 0 0 3px;
}
.paginationjs .paginationjs-pages li:first-child > a {
    border-radius: 3px 0 0 3px;
}
.paginationjs .paginationjs-pages li:last-child {
    border-right: 1px solid #aaa;
    border-radius: 0 3px 3px 0;
}
.paginationjs .paginationjs-pages li:last-child > a {
    border-radius: 0 3px 3px 0;
}
.paginationjs .paginationjs-go-input {
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
.paginationjs .paginationjs-go-input > input[type="text"] {
    width: 30px;
    height: 28px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: baseline;
    outline: none;
    box-shadow: none;
    box-sizing: initial;
}
.paginationjs .paginationjs-go-button {
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
.paginationjs .paginationjs-go-button > input[type="button"] {
    min-width: 40px;
    height: 30px;
    line-height: 28px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #aaa;
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    vertical-align: baseline;
    outline: none;
    box-shadow: none;
    color: #333;
    cursor: pointer;
}
.paginationjs .paginationjs-go-button > input[type="button"]:hover {
    background-color: #f8f8f8;
}
.paginationjs .paginationjs-nav {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
}
.paginationjs.paginationjs-small {
    font-size: 12px;
}
.paginationjs.paginationjs-small .paginationjs-pages li > a {
    min-width: 26px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.paginationjs.paginationjs-small .paginationjs-pages li.active > a {
    height: 26px;
    line-height: 26px;
}
.paginationjs.paginationjs-small .paginationjs-go-input {
    font-size: 12px;
}
.paginationjs.paginationjs-small .paginationjs-go-input > input[type="text"] {
    width: 26px;
    height: 24px;
    font-size: 12px;
}
.paginationjs.paginationjs-small .paginationjs-go-button {
    font-size: 12px;
}
.paginationjs.paginationjs-small .paginationjs-go-button > input[type="button"] {
    min-width: 30px;
    height: 26px;
    line-height: 24px;
    padding: 0 6px;
    font-size: 12px;
}
.paginationjs.paginationjs-small .paginationjs-nav {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.paginationjs.paginationjs-big {
    font-size: 16px;
}
.paginationjs.paginationjs-big .paginationjs-pages li > a {
    min-width: 36px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}
.paginationjs.paginationjs-big .paginationjs-pages li.active > a {
    height: 36px;
    line-height: 36px;
}
.paginationjs.paginationjs-big .paginationjs-go-input {
    font-size: 16px;
}
.paginationjs.paginationjs-big .paginationjs-go-input > input[type="text"] {
    width: 36px;
    height: 34px;
    font-size: 16px;
}
.paginationjs.paginationjs-big .paginationjs-go-button {
    font-size: 16px;
}
.paginationjs.paginationjs-big .paginationjs-go-button > input[type="button"] {
    min-width: 50px;
    height: 36px;
    line-height: 34px;
    padding: 0 12px;
    font-size: 16px;
}
.paginationjs.paginationjs-big .paginationjs-nav {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
}
.paginationjs.paginationjs-theme-blue .paginationjs-pages li {
    border-color: #289DE9;
}
.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a {
    color: #289DE9;
}
.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a:hover {
    background: #E9F4FC;
}
.paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a {
    background: #289DE9;
    color: #fff;
}
.paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled > a:hover {
    background: none;
}
.paginationjs.paginationjs-theme-blue .paginationjs-go-input > input[type="text"] {
    border-color: #289DE9;
}
.paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type="button"] {
    background: #289DE9;
    border-color: #289DE9;
    color: #fff;
}
.paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type="button"]:hover {
    background-color: #3CA5EA;
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li {
    border-color: #449D44;
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li > a {
    color: #449D44;
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li > a:hover {
    background: #EBF4EB;
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li.active > a {
    background: #449D44;
    color: #fff;
}
.paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled > a:hover {
    background: none;
}
.paginationjs.paginationjs-theme-green .paginationjs-go-input > input[type="text"] {
    border-color: #449D44;
}
.paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type="button"] {
    background: #449D44;
    border-color: #449D44;
    color: #fff;
}
.paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type="button"]:hover {
    background-color: #55A555;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li {
    border-color: #EC971F;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a {
    color: #EC971F;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a:hover {
    background: #FDF5E9;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active > a {
    background: #EC971F;
    color: #fff;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled > a:hover {
    background: none;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-go-input > input[type="text"] {
    border-color: #EC971F;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type="button"] {
    background: #EC971F;
    border-color: #EC971F;
    color: #fff;
}
.paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type="button"]:hover {
    background-color: #EEA135;
}
.paginationjs.paginationjs-theme-red .paginationjs-pages li {
    border-color: #C9302C;
}
.paginationjs.paginationjs-theme-red .paginationjs-pages li > a {
    color: #C9302C;
}
.paginationjs.paginationjs-theme-red .paginationjs-pages li > a:hover {
    background: #FAEAEA;
}
.paginationjs.paginationjs-theme-red .paginationjs-pages li.active > a {
    background: #C9302C;
    color: #fff;
}
.paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled > a:hover {
    background: none;
}
.paginationjs.paginationjs-theme-red .paginationjs-go-input > input[type="text"] {
    border-color: #C9302C;
}
.paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type="button"] {
    background: #C9302C;
    border-color: #C9302C;
    color: #fff;
}
.paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type="button"]:hover {
    background-color: #CE4541;
}
.paginationjs .paginationjs-pages li.paginationjs-next {
    *border-right: 1px solid #aaa;
    border-right: 1px solid #aaa \0;
}
.paginationjs .paginationjs-go-input {
    *margin-left: 5px;
    margin-left: 5px \0;
}
.paginationjs .paginationjs-go-input > input[type="text"] {
    *line-height: 28px;
    line-height: 28px \0;
    *vertical-align: middle;
    vertical-align: middle \0;
}
.paginationjs .paginationjs-go-button {
    *margin-left: 5px;
    margin-left: 5px \0;
}
.paginationjs .paginationjs-go-button > input[type="button"] {
    /**vertical-align: middle;*/
    vertical-align: middle 
}
.paginationjs.paginationjs-big .paginationjs-pages li > a {
    line-height: 36px \0;
}
.paginationjs.paginationjs-big .paginationjs-go-input > input[type="text"] {
    height: 36px;
    line-height: 36px;
}
