<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://themepixels.me/bracketplus/1.4/app/css/bracket.dark.css">
    <link rel="stylesheet" href="https://cdn.web-fonts.ge/fonts/bpg-rioni/css/bpg-rioni.min.css">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <main>
        <section id="search" class="justify-content-center wd-100 m-5 d-flex">
            <div class="input-group col-5 ">
                <input type="text" id="search-input" class="form-control" placeholder="საძიებო სიტყვა..." aria-label="საძიებო სიტყვა..." aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-search">მოძებნე</button>
                </div>
            </div>
            <button class="btn btn-primary" id="check">შემოწმება</button>
            <button class="btn btn-primary ml-3" id="coms">Selenium</button>
            <button class="btn btn-primary ml-3" id="coms">კომენტარებით</button>
        </section>
        <section id="results" class="justify-content-center wd-100 d-flex">
            <div class="accordion col-7" id="accordion">

            </div>
            <div id="pagination-container"></div>

        </section>
    </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
  <script>
    function shortString(str, y){
        if(str.length >= y){
            return str.substring(0, y)
        }
        return str
    }
    const results = document.querySelector("#accordion");
    const srch_btn = document.querySelector("#button-search");
    const srch_val = document.querySelector("#search-input");
    const check_btn = document.querySelector("#check");
    const coms_btn = document.querySelector("#coms");
    
   
    function DateTemplate(sites) {
        r_html = ""
        sites.forEach(site => {
            r_html+=`<div class="card">
                <div class="card-header" >
                <h2 class="mb-0 justify-content-between d-flex">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-${site._id.$oid}" aria-expanded="true" aria-controls="collapse-${site._id.$oid}">
                    ${site.heading} - <i>${shortString(site.src.replace(/(^\w+:|^)\/\//, ''), 30)}</i>
                    </button>
                    <span class="badge ${site.has_comment ? "badge-primary" : "badge-danger"} my-badge-pill badge-pill">${ site.com_len }</span>
                </h2>
                </div>
            
                <div id="collapse-${site._id.$oid}" class="collapse "  data-parent="#accordion">
                <div class="card-body">
                    ${site.description}
                </div>
                </div>
            </div>`
        })
        return r_html
    }
    
    function get_data(len_link="all_sites/len", link="/all_sites") {
        $.ajax({
        url: len_link,
        }).done(len=>{
            $('#pagination-container').pagination({
                dataSource: link,
                locator: 'items',
                showPageNumbers: true,
                autoHidePrevious: true,
                autoHideNext: true,
                locator: 'items',
                totalNumber: parseInt(len),
                pageSize: 20,
                showPageNumbers: true,
                showPrevious: true,
                showNext: true,
                // showNavigator: true,
                showFirstOnEllipsisShow: true,
                showLastOnEllipsisShow: true,
                callback: function(data, pagination) {
                    console.log(pagination)
                    $('#accordion').html(DateTemplate(data));
                }
            })
        });
    }
    
    srch_btn.addEventListener("click", ()=>{
        srch_val.disabled=true
        srch_btn.disabled=true
        $.ajax({
            url: "search/"+srch_val.value,
        }).done(res=>{
            srch_val.value = ""
            srch_val.disabled=false
            srch_btn.disabled=false
            console.log(JSON.parse(res))
            $('#pagination-container').html("")
            $('#accordion').html(DateTemplate(JSON.parse(res)))
        });
    })
    check_btn.addEventListener("click", ()=>{
        $.ajax({
            url: "/all_sites/check"
        }).done(
            get_data()
        )
    })
    coms_btn.addEventListener("click", ()=>{
        get_data("/all_sites/comm_len", "/all_sites/with_comments")
    })
    get_data()

  </script>
</body>
</html>